.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.side-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.chat-create a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.side-rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.chat {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
}

.chat-header {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.chat-main{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.chat-form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}